<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTMX - To Do List</title>
    <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>
  </head>
  <body>
    <label>
      To Do:
      <input type="text" name="todo" hx-post="http://localhost:3000/add" hx-target="#todos" hx-trigger="click from:#submit"/>
      <button id="submit">Add</button>
    </label>

    <ul id="todos" hx-get="http://localhost:3000/todos" hx-trigger="load"></ul>
  </body>
</html>
